.jspsych-survey-likert-statement {
  display: block;
  font-size: 2vh;
  /* padding-top: 40px;
  margin-bottom: 10px; */
  position: absolute;
  padding-right: 5vw
}

.jspsych-survey-likert-opts {
  list-style: none;
  width: 50vw;
  margin: auto;
  padding-top: 1vh;
  padding-left: 25vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
  display: block;
  font-size: 2vh;
  line-height: 1.1em;
}

.jspsych-survey-likert-opt-label {
  line-height: 1.1em;
  color: #444;
}

.jspsych-survey-likert-opts:before {
  /* content: '';
  position: relative;
  top: 11px;
  //left:9.5%;
  display: block;
  background-color: #efefef;
  height: 4px;
  width: 100%;  */
}

.jspsych-survey-likert-opts:last-of-type {
  border-bottom: 0;
}



.amount {
box-shadow: none !important;
background: none !important;
border: none !important;
width: 2em !important;
color: #47A !important;
text-align: center;
}
#outer_container {
max-width: 1100px;
margin-right: auto;
margin-left: auto;
border: solid 1px;
}

#container {
max-width: 500px;
padding: 25px;
}



.slider {
  margin-bottom: 15px;
  margin-top: 5px;
  color: white;
}

.ui-slider .ui-slider-handle {
  height: 15px;
  width: 5px;
  padding-left: 5px; 
}